.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.btn-custom {
    width: 60px;
}

.form-control:focus {
    box-shadow: none;
    border-color: transparent;
    outline: 0;
}

.fa-search {
    color: gray;
}

.search-btn {
    border: none;
}